$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
.php-container .sidebar-links>li>a,
  .markdown-container .sidebar-links>li>a,
  .tool-container .sidebar-links>li>a{
    font-size:20px;
    font-weight:700;
}
.markdown-container a.sidebar-link{
    font-size:16px;
    font-weight:500;
}
.sidebar,body{
    overflow-y:scroll;
    overflow-x:hidden;
}
.sidebar::-webkit-scrollbar {/*滚动条整体样式*/
    width: 5px;
    height: 5px;
}
.sidebar::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;max-height:30px;
    background:#fff;
    opacity:0;
}
.sidebar::-webkit-scrollbar-track {/*滚动条里面轨道*/
    border-radius: 10px;
    background:#fff;;
}
.sidebar:hover::-webkit-scrollbar-thumb{
    background:#ddd;
}

body::-webkit-scrollbar {/*滚动条整体样式*/
    width: 5px;
    height: 5px;
}
body::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;max-height:30px;
    background:#fff;
    opacity:0;
}
body::-webkit-scrollbar-track {/*滚动条里面轨道*/
    border-radius: 10px;
    background:#fff;;
}
body:hover::-webkit-scrollbar-thumb{
    background:#ddd;
}
.hero{
    >img{
        width:80px;height:80px;
        border-radius:50%;
    }
    h1{
        font-size:20px !important;
    }
    .description{
        font-size:14px !important;
    }
    .action-button{
        padding:3px 5px !important;
    }
}